<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header  text-center c1">
                <h1>Structural Directives : ngIf Directive</h1>
            </div>
            <div class="card-body">
          
        <div class="row mt-5" >
            <div class="col-2">
              
            </div>
            <div class="col-3">
                <h2 >{{Product.name}}</h2>
            </div>
            <div class="col-3">
                <h3 >{{Product.price | currency:'INR'}}</h3>
            </div>
            <div class="col-2">
                <button class="btn c1" (click)="toggleImg()">{{textBtn}} Preview</button>
            </div>
            <div class="col-2 ">
                
            </div>
            
        </div><br>
        <div class="row mt-5" >
            <div class="col-2">
              
            </div>
            <div class="col-8 text-center">
                <img *ngIf="isImgVisible" src="{{Product.img}}">
            </div>
            <div class="col-2 ">
                
            </div>
            
        </div><br>
    
    </div>
    <div class="card-footer c1">
        <span ></span>
    </div>
   </div>
 </div>
 
</body>
</html>