#heading1{
  color:darkgreen;
}
#myDiv{
  border: 2px solid rgb(34, 13, 230);
  margin: 5px;
  padding: 10px;
}
.myDivs{
  border: 2px solid darkgreen;
  margin: 5px;
  padding: 10px;
}
.myDiv1{
  border: 2px solid rgb(55, 4, 59);
  margin: 5px;
  padding: 20px;
}
.newDivClass{
  border-radius: 10px;
  background-color: cyan;
}
div p{
  color: rgb(231, 18, 18);
}
.myCube{
  height: 50px;
  width: 50px;
  background-color: blueviolet;
  opacity: 0.4;
  position: absolute;
  padding: 20px;
}
.newParaClass{
  font-weight: bold;
  color: brown;
}